<h1>User List</h1>
<table>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to user_path(user.id) do%>
          <%= image_tag user.get_profile_image(100,100) %>
        <% end %>
      </td>
      <td><%= user.name %>　　</td>
      <td>投稿数:<%= user.post_images.count %>　　</td>
      <td>
        <% if user.id == current_user.id %>
          <%= link_to "編集", edit_user_path(user.id) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>